<div class="navbar-fixed">
  <ul id="dropdown1" class="dropdown-content black">
     <% @artists.each do |artist| %>
      <li> <%= link_to artist.name, artist_path(@artist, :id => artist.id) %> </li>

    <% end %>
  </ul>
<nav>
  <div class="nav-wrapper black">
    <a href="#!" class="brand-logo center">TMF</a>
    <ul class="left hide-on-med-and-down">
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">Artists<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
    <%= form_for @artist, url: create_artists_path, html: {method: "post"} do |f| %>

      <div class = "input-field right">
        <%= f.label :name, class: "material-icons", id: "search" %>
        <%= f.text_field :name %>
      </div>

      <div>
        <a class="waves-effect waves-light black btn"><%= f.submit("Scrape") %></a>
      </div>

    <% end %>

   </div>
  </nav>
</div>
