<%= render 'artists/header' %>





<div id="slide1">
  <div class="content">
    <div>
      <h2><%= @artist.name %></h2>
      <% if @images.blank? %>
        <%= image_tag ("http://www.festivals.com/img/festivalpic.jpg") %>
      <% else %>
          <% @images.each do |a| %>
            <%= image_tag a.css('.artist-content img').attr('src') %>
          <% end %>
      <% end %>

      <br><br>
      <h2> Biography </h2>
      <% if @wikiscrape.blank? %>
        <h3> Couldn't find biography of <%= @artist.name %> </h3>
      <% else %>
        <% @wikiscrape.each do |a| %>
          <%= a.css('p')[0].text unless a.css('p')[0].text.length < 100  %>
          <%= a.css('p')[1].text %> <br><br>
          <%= a.css('p')[2].text %> <br><br>
          <%= a.css('p')[3].text %> <br><br>
          <% end %>
      <% end %>

    </div>
  </div>
</div>
<div id="slide2">
  <div class="content" >
    <h2> Tour Dates </h2>

    <% if @mtvscrape.blank? %>
      <h3> Couldn't find tour dates of <%= @artist.name %> </h3>
    <% else %>
      <% @mtvscrape.each do |a| %>
      <p><%= a.css('.month').text %>
      <%= a.css('.date').text %>
      <%= a.css('.day').text %></p>
      <%= a.css('.location').text %>
      <%= a.css('.venue'['href']) %>
      <br>
      <% end %>
    <% end %>
   </div>
  </div>
</div>
<div id="slide3">
  <div class="content">
    <div>
      <h2> Biography </h2>
      <% if @wikiscrape.blank? %>
        <h3> Couldn't find biography of <%= @artist.name %> </h3>
      <% else %>
        <% @wikiscrape.each do |a| %>
          <%= a.css('p')[0].text unless a.css('p')[0].text.length < 100  %>
          <%= a.css('p')[1].text %> <br><br>
          <%= a.css('p')[2].text %> <br><br>
          <%= a.css('p')[3].text %> <br><br>
          <% end %>
      <% end %>
    </div>
  </div>
</div>
<div id="slide4">
  <div class="content">
    <h2>Twitter shit</h2>

  </div>
</div>
<div id="slide5">
  <div class="content">
    <h2>News</h2>
    <% if @mtvnews.blank? %>
      <h3> Couldn't find MTV news of <%= @artist.name %> </h3>
    <% else %>
    <% @mtvnews.each do |a| %>
      <p><%= a.css('.news-title').text %></p>
      <p><%= a.css('.dateFormatted').text %></p>
      <%= link_to @mtvnewslink['href'], "#{@mtvnewslink['href']}" %>
    <% end %>
    <% end %>
  </div>
</div>
<br>
