
<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div>
        <h2><%= @artist.name %></h2>
        <% @images.each do |a| %>
        <%= image_tag a.css('.artist-content img').attr('src') %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("artist.jpg", :alt => "artist") %></div>
</div>

<div class="container">
  <div class="section">
    <h1>mtv scrape</h1>
    <div>
      <% @mtvscrape.each do |a| %>
      <p><%= a.css('.month').text %>
      <%= a.css('.date').text %>
      <%= a.css('.day').text %></p>
      <%= a.css('.location').text %>
      <%= a.css('.venue'['href']) %>
      <% end %>
    </div>
  </div>
</div>

<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <div>
          <% @wikiscrape.each do |a| %>
          <h1><%= a.css('.firstHeading').text %></h1>
          <h2> Biography </h2>
          <%= a.css('p')[0].text %>
          <%= a.css('.hatnote').text %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("festival.jpg", :alt => "artist") %></div>
</div>

<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 center">
        <div>
        <h2>News</h2>
        <% @mtvnews.each do |a| %>
        <p><%= a.css('.news-title').text %></p>
        <p><%= a.css('.dateFormatted').text %></p>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
        <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("artist.jpg", :alt => "artist") %></div>
</div>
