<ul id="slide-out" class="side-nav">
  <%= form_for @artist, url: create_artists_path, html: {method: "post"} do |f| %>
      <li><%= f.label :name, id: "search" %></li>
      <li><%= f.text_field :name %></li>
      <li><a><%= f.submit("Scrape") %></a></li>
  <% end %>
  <% @artists.each do |artist| %>
    <li> <%= link_to artist.name, artist_path(@artist, :id => artist.id) %> </li>
  <% end %>

  </ul>
  <a href="#" data-activates="slide-out" class="button-collapse"><i class="small material-icons">menu</i></a>

<div class="parallax-container">
  <div class="parallax">
    <% if @images.blank? %>
      <%= image_tag ("http://www.festivals.com/img/festivalpic.jpg") %>
    <% else %>
        <% @images.each do |a| %>
          <%= image_tag a.css('.artist-content img')[1].attr('src') %>
        <% end %>
    <% end %>
  </div>




  </div>
</div>
<div class="section black">
  <div class="row container">
    <h2><%= @artist.name %></h2>
          <% if @wikiscrape.blank? %>
            <h3> Couldn't find biography of <%= @artist.name %> </h3>
          <% else %>
            <% @wikiscrape.each do |a| %>
            <div class="col s6"><p><%= a.css('p')[0].text unless a.css('p')[0].text.length < 100  %></p></div>
            <div class="col s6"><p><%= a.css('p')[1].text%></p></div>
            <% end %>
          <% end %>
      </div>
  </div>
<div class="parallax-container">
  <div class="parallax">
    <% if @images.blank? %>
      <%= image_tag ("http://www.festivals.com/img/festivalpic.jpg") %>
    <% else %>
        <% @images.each do |a| %>
          <%= image_tag a.css('.artist-content img')[2].attr('src') %>
        <% end %>
    <% end %>
  </div></div>
<div class="section black">
  <div class="row container">
    <h2 class="header">Tourdates</h2>
    <p class="white-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax">
    <% if @images.blank? %>
      <%= image_tag ("http://www.festivals.com/img/festivalpic.jpg") %>
    <% else %>
        <% @images.each do |a| %>
          <%= image_tag a.css('.artist-content img')[4].attr('src') %>
        <% end %>
    <% end %>
  </div></div>
<div class="footer">
</div>
