<div id="index-banner" class="parallax-container">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section" >
      <div>
        <h2><%= @artist.name %></h2>
        <div id="artistimage">
        <% if @images.blank? %>
          <%= image_tag ("http://www.festivals.com/img/festivalpic.jpg") %>
        <% else %>
            <% @images.each do |a| %>
              <%= image_tag a.css('.artist-content img').attr('src') %>
            <% end %>
        <% end %>
      </div>
        <br><br>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("Concert.jpg", :alt => "artist", :class => "style_image") %></div>
</div>
</div>
</div><br>
<div class = "container">
  <div class="section" >
    <h2> Tour Dates </h2>
    <div class="tourdates">
      <% if @mtvscrape.blank? %>
        <h3> Couldn't find tour dates of <%= @artist.name %> </h3>
      <% else %>
        <% @mtvscrape.each do |a| %>
          <p><%= raw a.css('.content-inner') %></p>
        <% end %>
      <% end %>
    </div>
   </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="section">
          <h2> Biography </h2>
          <p>
          <% if @wikiscrape.blank? %>
            <h3> Couldn't find a biography of <%= @artist.name %> </h3>
          <% else %>
            <% @wikiscrape.each do |a| %>
              <%= a.css('p')[0].text unless a.css('p')[0].text.length < 100  %>
              <%= a.css('p')[1].text %> <br><br>
              <%= a.css('p')[2].text %> <br><br>
              <%= a.css('p')[3].text %> <br><br>
            <% end %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("festival.jpg", :alt => "artist", :class => "style_image") %></div>
</div>
<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12">
        <div>
        <h2>News Feed</h2>
        <% if @mtvnews.blank? %>
          <h3> Couldn't find any news of <%= @artist.name %> </h3>
        <% else %>
          <% @mtvnews.each do |a| %>
            <p><%= raw a.css('.multiline') %></p><br>
          <% end %>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="parallax-container valign-wrapper">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="row center">
      </div>
    </div>
  </div>
  <div class="parallax"><%= image_tag("festivalpic.jpg", :alt => "artist", :class => "style_image") %></div>
</div>
