<p id="notice"><%= notice %></p>

<h1>Listing Songs</h1>


    <% @songs.each do |song| %>
        <h2> Title </h2>
        <h3><%= song.title %></h3>
        <h2> Artist </h2>
        <h3><%= song.artist[:name] %></h3>
        <h2> Lyrics </h2>
        <p><%= song.text %></p>
        <br>
        <div class = "actions">
        <%= link_to 'Show', song %>   &mdash;
        <%= link_to 'Edit', edit_song_path(song) %>   &mdash;
        <%= link_to 'Destroy', song, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <br><br><br><br><br><br><br><br>
    <% end %>


<br>

<div class = "footer">
<%= link_to '+ Add new song', new_song_path %>
</div>
