<p id="notice"><%= notice %></p>

<h1>Listing Artists</h1>



    <% @artists.each do |artist| %>
        <h2> Artist </h2>
        <h3><%= artist.name %></h3>
        <% artist.songs.each do |song| %>
        <h2> Title </h2>
        <h3><%= song.title %></h3>
        <% end %>
        <div class = "actions">
        <%= link_to 'Show', artist %>   &mdash;
        <%= link_to 'Edit', edit_artist_path(artist) %>   &mdash;
        <%= link_to 'Destroy', artist, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <br><br><br><br><br><br><br><br>
    <% end %>


<br>

<div class = "footer">
   <%= link_to '+ Add new artist', new_song_path %><br>
</div>
