<div class="parallax-container">
  <div class="parallax"><img src="images/parallax1.jpg"></div>
</div>
<div class="section white">
  <div class="row container">
    <h2 class="header">Parallax</h2>
    <p class="grey-text text-darken-3 lighten-3">Parallax is an effect where the background content or image in this case, is moved at a different speed than the foreground content while scrolling.</p>
  </div>
</div>
<div class="parallax-container">
  <div class="parallax"><img src="images/parallax2.jpg"></div>
</div>

<% @wikiscrape.each do |a| %>
<h1><%= a.css('.firstHeading').text %></h1>
<h2> Biography </h2>
<%= a.css('p')[0].text %> <br><br>
<%= a.css('.hatnote').text %>
<% end %>

<br>
<h2>Tour dates</h2>
<% @mtvscrape.each do |a| %>
<p><%= a.css('.month').text %>
<%= a.css('.date').text %>
<%= a.css('.day').text %></p>
<%= a.css('.location').text %>
<%= a.css('.venue'['href']) %>
<br>
<% end %>

<h2>News</h2>
<% @mtvnews.each do |a| %>
<p><%= a.css('.news-title').text %></p>
<p><%= a.css('.dateFormatted').text %></p>
<% end %>
