<%= render 'artist/header' %>

<div id="slide1">
  <div class="content">
    <div>
      <% @wikiscrape.each do |a| %>
      <%= a.css('.firstHeading').text %><br><br>
      <%= a.css('p')[0].text %> <br><br>
      <%= a.css('.hatnote').text %>
      <% end %>
    </div>
  </div>
</div>
<div id="slide2">
  <div class="content" >
   <div>
     <% @mtvscrape.each do |a| %>
     <%= a.css('.month').text %><br><br>
     <%= a.css('.date').text %><br><br>
     <%= a.css('.day').text %><br><br>
     <% end %>
   </div>
  </div>
</div>
<div id="slide3">
<div class="content">
  <div>
    <% @wikiscrape.each do |a| %>
    <h1><%= a.css('.firstHeading').text %></h1>
    <h2> Biography </h2>
    <%= a.css('p')[0].text %> <br><br>
    <%= a.css('.hatnote').text %>
    <% end %>
  </div>
</div>
</div>
<div id="slide4">
  <div class="content">
    <h2>Tour dates</h2>
    <% @mtvscrape.each do |a| %>
    <p><%= a.css('.month').text %>
    <%= a.css('.date').text %>
    <%= a.css('.day').text %></p>
    <%= a.css('.location').text %>
    <%= a.css('.venue'['href']) %>
    <br>
    <% end %>
  </div>
</div>
<div id="slide5">
  <div class="content">
    <h2>News</h2>
    <% @mtvnews.each do |a| %>
    <p><%= a.css('.news-title').text %></p>
    <p><%= a.css('.dateFormatted').text %></p>
    <% end %>
  </div>
</div>
